*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:  #466F6F;
  margin-top: 75px;
}

/* HEADER */
header {
  border: solid 2px #13F0F0;
  border-radius: 10px;
  background: transparent;
  backdrop-filter: blur(10px);
  margin: 10px;
  position: fixed;
  top: 10px;          /* jarak dari atas */
  z-index: 1000;
  width: 98%;
  bottom: 3;
}

/* NAVBAR */
nav {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
}

nav ul {
  display: flex;
  align-items: center;
}

/* MENU */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  padding: 10px;
  color: #eaeaea;
  font-weight: bold;
  font-size: 18px;
}

/* LOGO */
.foto {
  width: 90px;
  border: solid 2px #13F0F0;
  border-radius: 50px;
  margin-right: auto;
  margin-left: 10px;
}

/* ===== HAMBURGER ===== */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 15px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #eaeaea;
  margin: 4px 0;
  transition: 0.3s;
}

.aw {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 0;
}
.is {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #eaeaea;
}

.pa {
  font-weight: bold;
  font-size: 24px;
}

.par {
  font-weight: bold;
  font-size: 20px;
}

.is-foto {
  width: 430px;
  border: solid 2px #13F0F0;
  border-radius: 100px;
  padding-top: 10px;
}

.ab {
  color: #eaeaea;
  max-width: 550px;       /* BATASI BOX */
  margin: 60px auto;      /* CENTER */
  padding: 30px;
  border: solid 2px #00ffff;
  border-radius: 10px;
  text-align: center;
}

.at {
  max-width: 700px;       /* BATASI TEKS */
  margin: 0 auto;         /* CENTER */
}

.me {
  font-weight: bold;
  font-size: 50px;
}


.ot {
  font-size: 20px;
  line-height: 1.6;
  margin-top: 15px;
}

.ot:hover {
  transform: scaleY(1.2);
}

.ou:hover {
  transform: scaleY(1.2);
}

.fa-tiktok {
  font-size: 35px;
}

.fa-tiktok:hover {
  color: #00ffff;
  transform: scale(0.8);
  background-color:  #466F6F;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px #00ffff;
}

.fa-github {
  font-size: 35px;
}

.fa-github:hover {
  color: #00ffff;
  transform: scale(0.8);
  background: transparent;
  background-color:  #466F6F;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px #00ffff;
}

.fa-instagram {
  font-size: 35px;
}

.fa-instagram:hover {
  color: #00ffff;
  transform: scale(0.8);
  background-color:  #466F6F;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px #00ffff;
}

.con {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
  gap: 20px;
}

.mt-2 {
  width: 30%;
  margin: 0 auto;
}

.text-sm {
  margin-left: 510px;
  font-size: 17px;
}

.es {
  font-weight: bold;
  color: #00ffff;
  text-align: center;
  font-size: 17px;
}

.ss {
  font-weight: bold;
  color: #00ffff;
  text-align: center;
  font-size: 18px;
  padding-top: 20px;
}

.js {
  font-weight: bold;
  color: #00ffff;
  text-align: center;
  font-size: 17px;
  padding-top: 20px;
}

.kil {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.ki {
  padding-top: 200px;
}

.card {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.my {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  padding-top: 200px;
}

.pr {
  justify-content: center;
  margin:0 auto;
  background-color: #466F6F;
  max-width: 300px;
  border-radius: 5px;
  border: solid 1px #00ffff;
  box-shadow: 1px 1px 2px 2px #cccc;
  width: 80%;
  gap: 20px;
  font-weight: bold;
  color: white;
  font-size: 15px;
}

 .pg {
   border-radius: 20px;
   justify-content: center;
   width: 60%;
   align-items: center;
   margin: 0 auto;
 }

.wa {
  color: white;
  padding-top: 20px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.wa:hover {
  color: #00ffff;
  transform: rotate(1.1deg);
}

.pr:hover{
  transform: rotate(1.1deg);
}

.mn {
 text-align: center;
 border: solid 1px #00ffff;
 max-width: 335px;
 justify-content: center;
 margin: 0 auto;
 color: #00ffff;
 border-radius: 5px;
}

.de {
  padding-top: 20px;
}

.sd {
  color: white;
  font-size: 21px;
}

.pe {
  padding-top: 10px;
}

.pm {
  color: white;
  font-size: 21px;
}

.nn {
  color: #333;
  font-style: italic;
  font-size: 19px;
}

.mp {
  color: #333;
  font-style: italic;
  font-size: 19px;
}

.qw {
  text-align: center;
  padding-top: 150px;
  color: white;
}

.pq {
  font-size: 20px;
  font-weight: bold;
}

.qp {
  padding-top: 20px;
  font-style: oblique;
  font-size: 17px;
}

.pq:hover {
  color: #00ffff;
}

.but {
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.ut {
  background: linear-gradient(180deg, #00ffff, #3bc6c6);
  border-radius: 30px;
  max-width: 300px;
  width: 150px;
  height: 45px;
}

.ut:hover {
  transform: rotateX(10deg);
}

.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  border-top: solid 1px #00ffff;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, #13F0F0, #3BC6C6);
    flex-direction: column;
    display: none;
    border-radius: 0 0 10px 10px;
  }

  nav ul.active {
    display: flex;
  }

  nav ul li {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;  
  }
  
  header {
    width: 95%;
  }
  
  
 .is-foto {
   width: 360px
 }
 
  .ab {
    padding: 20px;
    margin: 30px 15px;
  }

  .me {
    font-size: 35px;
  }

  .ou,
  .ot {
    font-size: 16px;
  }
  
  .con {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
}

.mt-2 {
  width: 95%;
}

.text-sm {
  margin-left: 10px;
}
}


